*,
:before,
:after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(#615dad, #ffc8da);
    margin: auto;
    background-attachment: fixed;
    max-width: 80vmin
}

h1 {
    font-family: Lobster;
    font-size: 120px;
    font-weight: lighter;
    text-align: center;
    color: #ffffff;
}

section.topbutton {
    display: flex;
    justify-content: space-between;

}


p {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bold;
    margin: 15px 0px 0px 0px;
    text-align: left;

}

p.kolo {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 0px 15px 0px;
    width: 250px;
    text-align: left;

}

.home {
    background-color: #1fcca4;
    width: 70px;
    height: 80px;
    border-radius: 10px 10px 10px 10px;
    padding: 15px 10px 15px 10px;
}

.home:hover {
    background-color: #1cbb96;
}

.restart {
    background-color: #0197f6;
    width: 70px;
    height: 80px;
    border-radius: 10px 10px 10px 10px;
    padding: 15px 10px 15px 10px;
}

.restart:hover {
    background-color: #0090e9;
}

.table {
    flex-wrap: wrap;
    margin: 40px 0px 0px 0px;
    font-size: 0;
    border: 0,9px solid black;
}

.cell {
    height: 8vmin;
    width: 8vmin;
    border: 1px solid black;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    background: rgb(216, 184, 216);
}

.cell:hover {
    background-color: rgb(240, 207, 240);
}

.cell:focus {
    background-color: rgb(240, 207, 240);
}